//Color
$colorprimary: #9356DC;
$colorsecondary: #FF79DA;
$color3: #F5EDFF;
$color4: #99E2D0;
$color5: #279379;
$colorFooter: #353535;

$colorbgprimary: #ECECEC;
$colorbgsecondary: #ffffff;
$colorbgtertiary: #F6F6F6;
$colorbgstep: #EAEAEA;
$colorstepfctn: #F5EDFF;

$fontColor:black;

$fontMain: 'Roboto';
$fontSec: 'Shrikhand';


